@import "./animation.scss";
@import "./global.scss";
 @import "./utils.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html,body{
  height:100%;
  overflow:hidden 
}


li, ol 
  {list-style: none;}
