@import "./global.scss";
.code{
    margin: 13px 0;
    background: #1e1e1e;
    color: white;
    padding:10px 30px;
    display: flex;
    flex-direction: column;
    
    &>code{
      margin-top: 10px;
    }  
  }



