@import "./animation.scss";
@import "./global.scss";
 @import "./utils.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
pre
{background: #1e1e1e;
color :white}
#app
{ height :100%  }  
.main
{  display: flex;
height :100%;
width : 100%}
.nav
  {flex: 1;
  border :1px solid black;
  overflow-x :hidden;
  overflow-y: auto;
  height :100%}
  .nav::-webkit-scrollbar
   { width :5px}
  .nav::-webkit-scrollbar-thumb
   { background: black}   
  ul {margin :0;
      list-style: none
    } 
   
  li:hover
   { cursor: pointer;          
    background :lightgray }
.content
  {flex: 10;
  height :100px;
  border :1px solid blue;
  padding :0 20px}



.code-attr
{color :#9cdcfe}
.code-tag
{color: #d7ba7d}
.code-entity{color: #569cd6}
  
html,body{
  height:100%;
  overflow:hidden 
}


ol{list-style: none}
